.IssuesTable {
    display: flex;
    flex-direction: column;

    button{
        width: 150px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    thead {
        background-color: darkgrey;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
    }
    td:first-of-type{
        cursor: pointer;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }


}